body {
  font-size: 16px;
  margin: 0 5px;
  padding: 0;
  a {
    text-decoration: none;
    color: #888;
    margin-top: 1em;
  }
}

#abacus {
  display: block;
  overflow: auto;
  width: 630px;
}

.row, a, .divide, .total {
  display: block;
  clear: both;
}

.bead {
  float: left;
  width: 50px;
  height: 50px;
  background: url('../images/bead.png') no-repeat 0 -50px;
  margin-right: 5px;
  &.active {
    background-position: 0 0;
    cursor: pointer;
  }
}

.divide {
  display: inline-block;
  overflow: hidden;
}

.heaven {
  border-bottom: 5px solid #57310F;
}

.total {
  font-size: 3em;
}